<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/login.css">
    <title>Login</title>
  </head>
  <body>
    <div>
      <form class="form">
        <div class="container card">
          <label for="username" class="form-label">Usuario</label>
          <input type="text" class="form-control" id="username" required />
          <button type="submit" class="btn-login" title="Login"></button>
      </form>
    </div>
    <script src="{{ url_for('static', filename='login.js') }}"></script>
  </body>
</html>